.works{
    padding:0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 4rem;
}
.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
}
.awesome>:nth-child(1){
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome>:nth-child(2){
    color:var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome>:nth-child(3){
    color:var(--gray);
    font-size: 14px;
    margin-top: 1rem;
}
.s-button{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}
.w-right{
    position: relative;
    z-index:1;

}
.w-mainCircle{
    position: relative;
    left:9rem;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top:2rem;
    background :white;
}
.w-mainCircle>*{
    position:absolute;
    z-index:3;
}
.w-mainCircle>:nth-child(1){
    top:-3rem;
    left:6rem;
}
.w-mainCircle>:nth-child(2){
    top:5rem;
    left:-3rem;
}
.w-mainCircle>:nth-child(3){
    top:5rem;
    left:6rem;
}
.w-mainCircle>:nth-child(4){
    top:5rem;
    left:15rem;
}
.w-mainCircle>:nth-child(5){
    top:13rem;
    left:6rem;
}
.w-secCircle{
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background: "none";
    box-shadow: var(--smboxShadow);
    background: white;

}
.w-secCircle>img{
    transform: scale(0.6);
}
.w-backCircle{
    width: 13rem;
    height: 13rem;
    position: absolute;
    border-radius: 100%;
    z-index: -2;
}
.blueCircle{
    left: 18rem;
    top: 0rem;
    background: #1949b8;
}
.yellowCircle{
    left: 18rem;
    top: 8rem;
    background: #f5c32c;
}